.flex{
    background-color: black;
}
*{
    text-align: center;
}
.container1{
    display: flex;
    justify-content: space-evenly;
}

.container2{
    display: flex;
    justify-content: space-around;
    
}

.container3{
    display: flex;

}
.fitem{
    margin: 10px;
}

.learn, 
.empty {
    border: 2px solid black;
    width: 100%;
    background-color: lightgreen;
    font-size: 50px;
}

.uniq {
    border: 2px solid black;
    background-color: lightblue;
    -webkit-text-stroke: 4px black; /*outline text in black*/
    color: white;
    font-size: 130px;
    font-weight: bold;
    width: 100%; /*setting widht to 100% make the box fit on all the page*/

}

.in, 
.fif,
.mn {
    border: 2px solid black;
    width: 200px;
    background-color: lightgreen;
}
.fif{
    background-color: lightblue;
    font-size: 130px;
    -webkit-text-stroke: 4px black; /*outline text in black*/
    color: white;
    font-weight: bold;
}
.mn {
    width: 100%;
}
.learn,
.in,
.mn {
    -webkit-text-stroke: 1px white; /*outline text in black*/
    font-size: 75px;
}